Repository Taskon-xyz/taskon-embed: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: support oauth methods
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: support handle sign message verify
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: add sign message node function and update login params
  package.json
  src/embed.ts
  src/index.ts
  src/login-types.ts
  src/node/index.ts
  src/node/sign.ts
  src/types.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint --fix

feat: support custom oauth url
  package.json
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

fix: fix oauth link
  package.json
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: support route change event
  package.json
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

0.0.5
  package-lock.json
  package.json
Due: prettier --write

feat: support wallet proxy
  package.json
  src/embed.ts
  src/index.ts
  src/login-types.ts
  src/node/sign.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: support track visit method
  package.json
  src/embed.ts
Due: prettier --write, eslint --fix

refactor: rename LoginType to AuthType
  src/embed.ts
  src/index.ts
  src/tracking.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore: update docs
  .github/workflows/deploy-docs.yml
  DEPLOY_DOCS.md
  README.md
  docs/.vitepress/config.ts
  docs/api/analytics.md
  docs/api/index.md
  docs/api/taskon-embed.md
  docs/api/types.md
  docs/api/utils.md
  docs/guide/authentication.md
  docs/guide/getting-started.md
  docs/index.md
Due: prettier --write, eslint --fix

docs: add comprehensive documentation and GitHub Pages deployment
  .github/workflows/deploy-docs.yml
  docs/.vitepress/config.ts
Due: prettier --write, eslint --fix

fix: update GitHub Actions workflow to use npm instead of pnpm
  .github/workflows/deploy-docs.yml
Due: none

docs: replace examples with link to whitelabel-demo-rainbowkit repository
  docs/.vitepress/config.ts
  docs/api/index.md
  docs/examples/index.md
  docs/guide/getting-started.md
  docs/index.md
Due: prettier --write, eslint --fix

fix: update GitHub link to correct repository URL
  docs/.vitepress/config.ts
Due: prettier --write, eslint --fix

chore: update version
  package.json
Due: prettier --write

feat: change getIsLoggedIn to isAuthorized and add options to logout
  README.md
  docs/api/index.md
  docs/api/taskon-embed.md
  docs/api/types.md
  docs/guide/authentication.md
  docs/guide/getting-started.md
  docs/index.md
  package.json
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore: add signMessage doc
  docs/guide/getting-started.md
Due: prettier --write

feat: support taskCompleted event
  README.md
  docs/api/types.md
  docs/guide/getting-started.md
  package.json
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore: update taskCompleted desc
  docs/api/types.md
  src/types.ts
Due: prettier --write, eslint --fix

feat: add webhook support for reward distribution notifications
  .cursorrules
  docs/.vitepress/config.ts
  docs/api/types.md
  docs/guide/webhooks.md
  package.json
  src/types.ts
Due: prettier --write, eslint --fix

feat: support switch language
  docs/.vitepress/config.ts
  docs/api/taskon-embed.md
  docs/guide/configuration.md
  docs/guide/language-switching.md
  docs/index.md
  package.json
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: enhance webhook documentation with authentication details and implementation examples
  docs/guide/webhooks.md
Due: prettier --write

feat: update OAuth handling and API URLs for development mode
  docs/api/analytics.md
  docs/api/types.md
  docs/guide/configuration.md
  package.json
  src/embed.ts
  src/tracking.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: support invite code
  package.json
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: add bind conflict event
  CHANGELOG.md
  docs/api/taskon-embed.md
  docs/api/types.md
  package.json
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: add tabsInclude and tabsExclude config options for community tab visibility
  CHANGELOG.md
  package.json
  src/embed.ts
  src/types.ts
Due: prettier --write, eslint --fix

refactor(embed): extract url utilities and simplify handshake config API
  README.md
  docs/api/types.md
  docs/guide/configuration.md
  src/embed.ts
  src/types.ts
  src/utils/embed-url.test.ts
  src/utils/embed-url.ts
Due: prettier --write, eslint --fix

chore: bump to v1.2.1
  package-lock.json
  package.json
Due: prettier --write

chore: update CHANGELOG
  CHANGELOG.md
Due: prettier --write

feat: 探测 window.topnod 作为白标代理 provider (v1.2.3)
  CHANGELOG.md
  package-lock.json
  package.json
  src/embed.ts
Due: prettier --write, eslint --fix

feat: 探测 window.topnod 作为白标代理 provider (v1.2.3) (#1)
  CHANGELOG.md
  package-lock.json
  package.json
  src/embed.ts
Due: prettier --write, eslint --fix

chore: packageManager 字段改成 npm，与仓库实际使用的 package-lock.json 对齐
  package.json
Due: prettier --write

fix: 还原 lockfile 误改的 3 个 transitive 依赖版本
  package-lock.json
Due: prettier --write

fix(types): 补全 WebhookPayload 缺失的 user_id/evm_address/email/timestamp 字段
  CHANGELOG.md
  docs/api/types.md
  package.json
  src/types.ts
Due: prettier --write, eslint --fix

docs(webhooks): fix signature key order and evm_address
  docs/guide/webhooks.md
Due: prettier --write

docs(webhooks): keep signed-string example as exact compact bytes
  docs/guide/webhooks.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,html,json,md}
  eslint --fix: any of: *.{ts,js}
